body{
    margin: 0px;

}

#head
{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   height: 110px;
   width: 100%;
   display: flex;
   align-items: center;
   margin: auto;
}

#head>img{
    height: 55px;
    width: 220px;
    margin-left: 80px;
}

#second
{
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    width: 90%;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif !important;
}

#display
{
    width: 90%;
    height: 46px;
    margin: auto;
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px;
    color: gray;
    margin-bottom: 50px;
    margin-top: -20px;
}

#display>thead>tr>.one
{
    text-align: center;
    width: 170px;
   
}
#display>thead>tr>#first
{
text-align: left;
padding-left: 20px;
width:570px;
}

#content
{
    border: 1px solid grey;
    width: 90%;
    margin: auto;
}

#content>p
{
    margin-left: 30px;
}

img{
    height: 100%;
    width:140px;
}


.firstcol
{
    height: 140px;
    /* border: 1px solid black; */
    width:517px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    
}

.firstcol>p
{
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
}

.equal
{
    height: 140px; 
    width:170px;
    text-align: center;
    
}

.equal>div>button:hover
{
color: white;
background-color: orangered;
border: 0px;
}

#last>button
{
    height: 25px;
   border-radius: 5px;
   border: 1px solid gray;
   margin-left: 5px;
  
}

#last>button:hover
{
    color: white;
    background-color: orangered;
    border: 0px;
}


   #bottom
   {
       height: 120px;
       width: 89%;
       margin: auto;
       display: flex;
       border: 1px solid rgb(207, 206, 206);
       margin-top: 50px;
       margin-bottom: 50px;
       align-items: center;
       justify-content: space-between;
       padding-right: 10px;
       padding-left: 10px;
   } 
  
.totalprice
{
    display: flex;
    height: 70px;
    margin: auto;
    padding-right: 40px;
    align-items: center;
    justify-content: right;
    font-size: 16px;
    border: 1px solid rgb(201, 199, 199);
    font-family: 'Open Sans', sans-serif !important;

}

.totalprice>h3{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif !important;
    color: orangered;
}

#bottom>button
{
    height: 50px;
    width: 280px;
    background-color: orangered;
    font-size: 22px;
    border: 0px;

}

#bottom>button>a
{
    color: white;
    text-decoration: none;
}

#bottom>p>a{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif !important;
    text-decoration: none;
    color: black;
}

#quant
{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */

}
#quant>button
{
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#quant>div
{
    height: 28px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 1px solid grey;
}


