.logo-img{
    text-align:center;
}

.container {
    margin:0;
    height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:16px;
    background:url(https://img.gkbcdn.com/s3/bn/2203/signin-6239450f2b40c91b9c8a4526.jpg)
    
}
.form{
    width:400px;
    max-width:400px;
    height:400px;
    margin:16px;
    padding:32px;
    border-radius:10px;
    background-color:white;
}
.container,
.form-input,
.form-button{
    font:500 16px 'Quicksand', sansserif;
}
.form > *:first-child{
    margin-top:0;
}
.form > *:last-child {
    margin-bottom:0;
}
.form-hidden{
    display:none;
}
.form-title{
    margin-bottom:32px;
    text-align: center;
}
.form-message{
    text-align:center;
    margin-bottom:16px;
}
.form-message-success{
    color:rgb(46, 227, 46);
}
.form-message-error{
    color:red;
}
.form-input-group{
    margin-bottom: 16px;
}
.form-input{
    display:block;
    width:100%;
    padding:12px;
    box-sizing:border-box;
    border-radius:10px;
    outline:none;
    background:white;
    transition:background 0.2s, border-color 0.2s;

}
.form-input:focus{
    border-color:teal;
    background:white;
}
.form-input-error-message{
    color:red;
    border-color:red;
}
.form-input-error-message{
    margin-top:8px;
    font-size:13px;
    color:red;
}
.form-button{
    width:100%;
    padding:16px 32px;
    font-weight:bold;
    font-size:20px;
    color:white;
    border:none;
    border-radius:10px;
    outline:none;
    cursor:pointer;
    background-color:#ffa500
}
.form-button:hover {
    background:rgb(6, 61, 61);
}
.form-button:active{
    transform:scale(0.98);
}
.form-text{
    text-align:center;
}
.form-link{
    color:rgb(4, 4, 31);
    text-decoration:none;
    cursor:pointer;
}
.form-link:hover{
    text-decoration:underline;
}

