#container {
    display: grid;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

#container>div {
    box-shadow: rgba(19, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;

}

#container>div:hover{

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#container>div>img {
    width: 100%;
    height: 60%;
}
#topimage{
    border: 0px solid black;
    height: 250px;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
#topimage>img{
    width: 100%;
    height: 100%;
}

#sub{
    margin: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
    border: 0px solid red;
    position: absolute;
    bottom: 18px;
    left: 10px;
    height: 30px;
    
    
}
#sub>button{
    border-radius: 7px;
    border: 0px;
    font-size: 15px;
}

#sub>button:hover{

    background-color: orangered;
    color: white;
}

#price{
    margin-left: 250px;
    height: 30px;
    width: 150px;
    font-size: 15px;
    border: 0px;
    margin-bottom: 20px;
    box-shadow: rgba(19, 12, 46, 0.15) 0px 48px 100px 0px;

    
}

h1 {
    text-align: center;
}

#container>div>h4 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: normal;
    font-size: 12px;
    margin-left: 10px;
}

#container>div>p {
    font-family: "Open Sans", sans-serif !important;
    margin-left: 10px;
}

#container>div>button {
    position: absolute;
    bottom: 15px;
    left: 10px;
}